{% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

<style>
  .navbar-brand{
 font-family: 'Poppins', sans-serif;
 font-size: 30px;
 font-weight: bold;
 /* padding: 20px 20px;
 text-align: center; */
}

.nav-link{
 color: lightyellow !important;
 font-size: 15px;
 font-weight: bold;
 box-sizing: border-box;
 padding: 10px 10px;
 text-align: center;
 justify-content: space-evenly;
}

.nav-link:hover{
  color: black !important;
  background-color: lightgreen;
  border-radius: 10px;
}
</style>

<title>Electricity Billing System</title>

<!-- Start Navigation -->
<nav class="navbar navbar-expand-sm navbar-light bg-dark">
  <div class="container">
  <a class="navbar-brand" href="#">
    <span style="color : lightgreen">Electricity</span>
    <span style="color : skyblue">Billing</span>
    <span style="color : lightpink">System</span></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

   <div class="collapse navbar-collapse text-center" id="myMenu">
    <ul class="navbar-nav pl-5 custom-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">PayBill</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'admin_login' %}">Biller Login</a></li>
    </ul>
   </div>
      <hr>
 </div>
</nav>


